footer {
    background-color: $My-Color-Theme-2-hex;
}

.footer {
    color: white;
    font-size: .79rem;
    &__logo {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        img {
            width: 130px;
        }
    }
    &__redes {
        display: flex;
        padding: 1rem 0;
        grid-column: span 2;
        justify-content: center;
    }
    &__copyrigth {
        display: flex;
        justify-content: flex-end;
    }
    .icon {
        color: white;
        background: $My-Color-Theme-2-hex;
        margin: .1rem .1rem 0;
    }
    @include respond-to(md) {
        &__name,
        &__copyrigth {
            font-size: 1rem;
        }
        &__logo {
            img {
                width: 180px;
            }
        }
    }
}