.post {
    &_header {
        display: flex;
        position: relative;
        width: 100%;
        min-height: 400px;
        margin-bottom: 2.5rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: $font2, monospace;
        letter-spacing: .2rem;
        color: $My-Color-Theme-5-hex;
        &__content {
            max-width: 920px;
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            z-index: 1;
            @include respond-to(lg) {
                width: 100%;
            }
        }
        & .author {
            img {
                width: 35px;
                height: 35px;
            }
        }
        .details {
            display: flex;
            margin-bottom: 1.4rem;
            font-family: $font1, sans-serif;
            width: 100%;
            justify-content: space-between;
            &__date {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}
