.post-container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    padding: 0 .9rem;
    line-height: 1.8;
    @include respond-to(lg) {
        padding: 0;
    }
}

.post-full-header {
    position: relative;
    margin: 0 auto;
    padding: 20px 0 35px;
    @include respond-to(lg) {
        padding: 70px 170px 50px;
    }
}

.post-full-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-color);
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.post-full-title {
    margin: 0 0 .2em;
    font-size: 2.5rem;
    letter-spacing: .5px;
    color: var(--color-base);
}

.post-full-custom-excerpt {
    margin: 5px 0 0;
    color: var(--color-text-secondary);
    font-family: $font1, sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}

.post-full-byline {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 0;
    padding-top: 15px;
    border-top: 1px solid var(--color-text-secondary);
}

.post-full-byline-content {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

.post-full-byline-content .author-list {
    justify-content: flex-start;
    padding: 0 12px 0 0;
}

.author-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 4px;
    padding: 0;
    list-style: none;
}

.author-list-item {
    position: relative;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

.author-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -4px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 100%;
    transition: all .5s cubic-bezier(.4, .01, .165, .99) .7s;
}

.author-profile-image {
    display: block;
    width: 100%;
    height: 100%;
    background: #e3e9ed;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.post-full-byline-meta {
    margin: 2px 0 0;
    color: var(--color-text-secondary);
    font-size: 1.2rem;
    letter-spacing: .2px;
    text-transform: uppercase;
}

.post-full-byline-meta h4 {
    margin: 0 0 3px;
    font-size: .9rem;
    font-weight: 600;
}

.post-full-byline-meta {
    margin: 2px 0 0;
    color: var(--color-text-secondary);
    font-size: .7rem;
    letter-spacing: .2px;
    text-transform: uppercase;
}

.post-full-byline-meta .bull {
    display: inline-block;
    margin: 0 4px;
    opacity: .6;
}

.post-full-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: #2b2f36;
    border-radius: 3px;
    margin: 15px -1rem 20px;
    @include respond-to(lg) {
        margin: 25px -1rem 50px;
    }
}